@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome by Zeb at VC changes </h1>

    <br/>
    changes from Azure by Zeb

    <br/>
    changes from Visual Studion by Zeb again

    <br />
    VC changes from Visual Studion by Zeb after deleting index

    <br/>
    VC changes after deleting Git Rep by Zeb


    <br />
    VC changes after new Git Rep by Zeb


    <br />
    VC changes by Zeb after successful Synch with Github and Azure


    <br />
    VC changes by Zeb and push from vc to Github and Azure


    <br />
    VC changes by Zeb and push from vc after reconnecting Azure with Github - push to both Github and Azure





    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
