@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome by Zeb at VC changes </h1>

    <br/>
    changes from Azure by Zeb

    <br/>
    changes from Visual Studion by Zeb

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
